body {
  margin:0;
  padding:0;
  /* color: white; */
  background:#888;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

h1 {
	padding-top: 30px;
  	font-weight:bold;
  	text-align:center;
  	text-transform:uppercase;
}

a {
	color: black; 
}

.description {
	font-size: 20px;
}
.nav, .navbar {
	font-size: 13px;
	background: #036;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}

/* Horizontal List*/
#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#navcontainer ul li { 
	display: inline; 
	font-size: 18px;
}

#navcontainer ul li a
{
	text-decoration: none;
	padding: .4em 2em;
	color: #fff;
	background-color: #036;
}

/* Gradient transparent - color - transparent */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
	padding: 4%;
}

li {
	font-size: 16px;
}