/*
=================================================================
Background
=================================================================
*/
html {
	background-color: n#e6d4d448
}

body {
	margin: 0 auto;
	width: 70%;
	font-family: 18px "Open Sans", "Helvetica";
}
/*
=================================================================
Heading
=================================================================
*/
.links {
	text-align: center;
	padding-bottom: 20px;
}

a:hover {
	color: pink;
}
h1 {
	font-size: 36px;
	font-family: "Lobster", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	color: blue;
	text-align: center;
}

h2 {
	font-size: 28px;
	font-family: "Lobster", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	
	text-align: center;
	padding: 10px;
}
/*
=================================================================
Footer
=================================================================
*/

footer p {
	text-align: center;
	font-size: 12px;
	padding-top: 20px;
}