html {
	background-color: rgb(120, 59, 219);
}

/* Change the color of all links*/
a {
	color: blue;
}

/* unvisited link */
a:link {
	color: red;

}
/* visited links change to white*/
a:visited {
	color: #FFFFFF;  
}
 /* mouse over link*/
a:hover
 {
	color: hotpink;
	text-decoration: none;
}

h1 {
	color: rgb(120, 59, 219);
	font-size: 22px;
	font-family: Futura, Arial, Courier;
	text-align: center;
}

.header {
	background: rgb(173, 173, 158);
	text-align: right;
}



h2 {
	color: black;
	font-size: 18px;
	font-family: Sans-seriff, Futura, Arial;
}

h3 {
	font-size: 17px;
	font-family: sans-seriff, arial;
}

li {
	font-family: sans-seriff, arial;
	font-size: 14px;
}
