html {
	background-color: #1d1deb;
}

/* Change the color of all links*/
a {
	color: blue;
}

/* unvisited link */
a:link {
	color: red;

}
/* visited links change to white*/
a:visited {
	color: #FFFFFF;  
}
 /* mouse over link*/
a:hover
 {
	color: hotpink;
	text-decoration: none;
}

h1 {
	font: 22px Futura, Arial, Courier;
	text-align: center;
	position: relative;
	top: 20px;
}

header {
	background: rgb(173, 173, 158);
	border: solid;
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
	text-align: right;
}

h2 {
	color: black;
	font: bold 18px Futura, Arial;
}

h3 {
	font-size: 17px;
	font-family: sans-seriff, arial;
}

ul li {
	font: italic bold 14px sans-seriff, arial;
	color: #fff;
}
