h1 {
  text-align: center;
  font-family: Verdana, Arial, Courier;
  font-size: 40px;
}
.p-heading {
  text-align: center;
  font-size: 22px;
  font-family: Verdana, Arial, Courier;
}
div.image div {
  text-align: center;
}